<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageInfo</key>
		<string>圣斗士01</string>
		<key>imageName</key>
		<string>圣斗士01.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>圣斗士02</string>
		<key>imageName</key>
		<string>圣斗士02.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>圣斗士03</string>
		<key>imageName</key>
		<string>圣斗士03.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>圣斗士04</string>
		<key>imageName</key>
		<string>圣斗士04.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>圣斗士05</string>
		<key>imageName</key>
		<string>圣斗士05.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>圣斗士06</string>
		<key>imageName</key>
		<string>圣斗士06.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>圣斗士07</string>
		<key>imageName</key>
		<string>圣斗士07.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>圣斗士08</string>
		<key>imageName</key>
		<string>圣斗士08.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>圣斗士09</string>
		<key>imageName</key>
		<string>圣斗士09.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>圣斗士10</string>
		<key>imageName</key>
		<string>圣斗士10.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>圣斗士11</string>
		<key>imageName</key>
		<string>圣斗士11.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>圣斗士12</string>
		<key>imageName</key>
		<string>圣斗士12.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>圣斗士13</string>
		<key>imageName</key>
		<string>圣斗士13.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>圣斗士14</string>
		<key>imageName</key>
		<string>圣斗士14.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>圣斗士15</string>
		<key>imageName</key>
		<string>圣斗士15.jpg</string>
	</dict>
</array>
</plist>
