<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageInfo</key>
		<string>海贼01</string>
		<key>imageName</key>
		<string>海贼01.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼02</string>
		<key>imageName</key>
		<string>海贼02.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼03</string>
		<key>imageName</key>
		<string>海贼03.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼04</string>
		<key>imageName</key>
		<string>海贼04.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼05</string>
		<key>imageName</key>
		<string>海贼05.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼06</string>
		<key>imageName</key>
		<string>海贼06.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼07</string>
		<key>imageName</key>
		<string>海贼07.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼08</string>
		<key>imageName</key>
		<string>海贼08.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼09</string>
		<key>imageName</key>
		<string>海贼09.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼10</string>
		<key>imageName</key>
		<string>海贼10.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼11</string>
		<key>imageName</key>
		<string>海贼11.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼12</string>
		<key>imageName</key>
		<string>海贼12.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼13</string>
		<key>imageName</key>
		<string>海贼13.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼14</string>
		<key>imageName</key>
		<string>海贼14.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼15</string>
		<key>imageName</key>
		<string>海贼15.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼16</string>
		<key>imageName</key>
		<string>海贼16.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼17</string>
		<key>imageName</key>
		<string>海贼17.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼18</string>
		<key>imageName</key>
		<string>海贼18.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼19</string>
		<key>imageName</key>
		<string>海贼19.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼20</string>
		<key>imageName</key>
		<string>海贼20.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼21</string>
		<key>imageName</key>
		<string>海贼21.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼22</string>
		<key>imageName</key>
		<string>海贼22.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼23</string>
		<key>imageName</key>
		<string>海贼23.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼24</string>
		<key>imageName</key>
		<string>海贼24.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼25</string>
		<key>imageName</key>
		<string>海贼25.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼26</string>
		<key>imageName</key>
		<string>海贼26.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼27</string>
		<key>imageName</key>
		<string>海贼27.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼28</string>
		<key>imageName</key>
		<string>海贼28.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼29</string>
		<key>imageName</key>
		<string>海贼29.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼30</string>
		<key>imageName</key>
		<string>海贼30.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼31</string>
		<key>imageName</key>
		<string>海贼31.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼32</string>
		<key>imageName</key>
		<string>海贼32.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼33</string>
		<key>imageName</key>
		<string>海贼33.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼34</string>
		<key>imageName</key>
		<string>海贼34.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼35</string>
		<key>imageName</key>
		<string>海贼35.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼36</string>
		<key>imageName</key>
		<string>海贼36.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼37</string>
		<key>imageName</key>
		<string>海贼37.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼38</string>
		<key>imageName</key>
		<string>海贼38.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼39</string>
		<key>imageName</key>
		<string>海贼39.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼40</string>
		<key>imageName</key>
		<string>海贼40.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼41</string>
		<key>imageName</key>
		<string>海贼41.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼42</string>
		<key>imageName</key>
		<string>海贼42.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼43</string>
		<key>imageName</key>
		<string>海贼43.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼44</string>
		<key>imageName</key>
		<string>海贼44.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼45</string>
		<key>imageName</key>
		<string>海贼45.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼46</string>
		<key>imageName</key>
		<string>海贼46.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼47</string>
		<key>imageName</key>
		<string>海贼47.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼48</string>
		<key>imageName</key>
		<string>海贼48.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼49</string>
		<key>imageName</key>
		<string>海贼49.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼50</string>
		<key>imageName</key>
		<string>海贼50.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼51</string>
		<key>imageName</key>
		<string>海贼51.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼52</string>
		<key>imageName</key>
		<string>海贼52.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼53</string>
		<key>imageName</key>
		<string>海贼53.jpg</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>海贼54</string>
		<key>imageName</key>
		<string>海贼54.jpg</string>
	</dict>
</array>
</plist>
