<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageInfo</key>
		<string>阳九尾</string>
		<key>imageName</key>
		<string>火影01.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>阴九尾</string>
		<key>imageName</key>
		<string>火影02.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>千手柱间</string>
		<key>imageName</key>
		<string>火影03.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>千手扉间</string>
		<key>imageName</key>
		<string>火影04.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>猿飞日斩</string>
		<key>imageName</key>
		<string>火影05.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>波风水门</string>
		<key>imageName</key>
		<string>火影06.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>漩涡鸣人</string>
		<key>imageName</key>
		<string>火影07.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>漩涡鸣人</string>
		<key>imageName</key>
		<string>火影08.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>漩涡鸣人</string>
		<key>imageName</key>
		<string>火影09.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>漩涡鸣人</string>
		<key>imageName</key>
		<string>火影10.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>宇智波佐助</string>
		<key>imageName</key>
		<string>火影11.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>宇智波佐助</string>
		<key>imageName</key>
		<string>火影12.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>宇智波佐助</string>
		<key>imageName</key>
		<string>火影13.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>宇智波佐助</string>
		<key>imageName</key>
		<string>火影14.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>春野樱</string>
		<key>imageName</key>
		<string>火影15.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>春野樱</string>
		<key>imageName</key>
		<string>火影16.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>春野樱</string>
		<key>imageName</key>
		<string>火影17.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>春野樱</string>
		<key>imageName</key>
		<string>火影18.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>旗木卡卡西</string>
		<key>imageName</key>
		<string>火影19.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>旗木卡卡西</string>
		<key>imageName</key>
		<string>火影20.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>旗木卡卡西</string>
		<key>imageName</key>
		<string>火影21.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>旗木卡卡西</string>
		<key>imageName</key>
		<string>火影22.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>自来也</string>
		<key>imageName</key>
		<string>火影23.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>纲手</string>
		<key>imageName</key>
		<string>火影24.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>大蛇丸</string>
		<key>imageName</key>
		<string>火影25.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>千代</string>
		<key>imageName</key>
		<string>火影26.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>佩恩</string>
		<key>imageName</key>
		<string>火影27.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>小楠</string>
		<key>imageName</key>
		<string>火影28.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>阿飞</string>
		<key>imageName</key>
		<string>火影29.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>迪达拉</string>
		<key>imageName</key>
		<string>火影30.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>宇智波鼬</string>
		<key>imageName</key>
		<string>火影31.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>飞段</string>
		<key>imageName</key>
		<string>火影32.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>角都</string>
		<key>imageName</key>
		<string>火影33.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>蝎</string>
		<key>imageName</key>
		<string>火影34.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>我爱罗</string>
		<key>imageName</key>
		<string>火影35.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>李洛克</string>
		<key>imageName</key>
		<string>火影36.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>奈良鹿丸</string>
		<key>imageName</key>
		<string>火影37.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>日向宁次</string>
		<key>imageName</key>
		<string>火影38.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>君麻吕</string>
		<key>imageName</key>
		<string>火影39.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>秋道丁次</string>
		<key>imageName</key>
		<string>火影40.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>犬冢牙</string>
		<key>imageName</key>
		<string>火影41.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>宇智波带土</string>
		<key>imageName</key>
		<string>火影42.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>静音</string>
		<key>imageName</key>
		<string>火影43.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>天天</string>
		<key>imageName</key>
		<string>火影44.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>日向雏田</string>
		<key>imageName</key>
		<string>火影45.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>山中井野</string>
		<key>imageName</key>
		<string>火影46.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>阿凯</string>
		<key>imageName</key>
		<string>火影47.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>伊鲁卡</string>
		<key>imageName</key>
		<string>火影48.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>香磷</string>
		<key>imageName</key>
		<string>火影49.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>不知道</string>
		<key>imageName</key>
		<string>火影50.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>勘九郎</string>
		<key>imageName</key>
		<string>火影51.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>白</string>
		<key>imageName</key>
		<string>火影52.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>音忍四人组</string>
		<key>imageName</key>
		<string>火影53.png</string>
	</dict>
	<dict>
		<key>imageInfo</key>
		<string>蝎</string>
		<key>imageName</key>
		<string>火影54.png</string>
	</dict>
</array>
</plist>
